<div class="secondPage-container">
    <div class="header">
        <img src="./assets/headerfooter.jpg"  class="headerImage" />
    </div>
    <form 
        class="secondPage-form"
        [formGroup]="secondPageForm"
    >
        <div class="secondPage-content">
            <app-input-user
                *ngFor="let input of inputArray" 
                [class]="'input'"
                [classLabel]="input.classLabel"
                [textLabel]="input.textLabel"
                [id]="input.id"
                [control]="getControl(input.id)"
                [type]="input.type"
                (click) = "hideError()"
            >
            </app-input-user>
            <div class="errorInput" *ngIf="error">
                Please fill in the required fields
            </div>
            <div class="action">
                <button 
                    type="submit"
                    class="buttonSecondPage"
                    (click)="addPersonalInfo()"
                >
                    Add
                </button>
            </div>
        </div>
    </form>
    <div class="footer">
            <img src="./assets/headerfooter.jpg"  class="footerImage" />
    </div>
</div>