<div class="secondPage-container">
    <form 
        class="secondPage-form"
        [formGroup]="secondPageForm"
    >
        <div class="secondPage-content">
            <app-input-user
                *ngFor="let input of inputArray" 
                [class]="'input'"
                [classLabel]="input.classLabel"
                [textLabel]="input.textLabel"
                [id]="input.id"
                [control]="getControl(input.id)"
                [type]="input.type"
                (click) = "hideError()"
            >
            </app-input-user>
            <div class="errorInput" *ngIf="error">
                Please fill in the required fields
            </div>
            <div class="action">
                <button 
                    type="submit"
                    class="buttonSecondPage"
                    (click)="addPersonalInfo()"
                >
                    {{!index && index!== 0 ? "Add": "Edit"}}
                </button>
            </div>
        </div>
        <app-user-info
        [users]="users"
        [controlFirstName]="getControl(UserEnum.FirstName)"
        [controlLastName]="getControl(UserEnum.LastName)"
        [controlAges]="getControl(UserEnum.Ages)"
        [controlEmail]="getControl(UserEnum.Email)"
        [controlPassword]="getControl(UserEnum.Password)"
        (newSetIsTabConfigData)="setIsTabConfigData($event)"
        (newSetIndexEvent)="addIndex($event)"
        >
        </app-user-info>
    </form>
    <div class="footer">
            <img src="./assets/headerfooter.jpg"  class="footerImage" />
    </div>
</div>