<div class="thirdPage-container">
    <div class="header">
        <img src="./assets/headerfooter.jpg"  class="headerImage" />
    </div>
    <form 
        class="thirdPage-form"
        [formGroup]="thirdPageForm"
    >
        <div class="thirdPage-content">
                <app-select-user
                    [class]="'input'"
                    [classLabel]="'titleLabel'"
                    [textLabel]="'Male'"
                    [id]="UserEnumMore.Male"
                    [control]="getControl(UserEnumMore.Male)"
                    [valuesArray]="valuesArray"
                    >
                </app-select-user>
            <app-input-user
                [class]="'input'"
                [classLabel]="'titleLabel'"
                [textLabel]="'Have children'"
                [id]="UserEnumMore.Children"
                [control]="getControl(UserEnumMore.Children)"
            >
            </app-input-user>
            <app-input-user
                [class]="'input'"
                [classLabel]="'titleLabel'"
                [textLabel]="'Got a job'"
                [id]="UserEnumMore.Job"
                [control]="getControl(UserEnumMore.Job)"
            >
            </app-input-user>
            <div class="action">
                <button 
                    type="submit"
                    class="buttonThirdPage"
                    (click)="addPersonalInfoMore()"
                >
                        Add
                </button>
            </div>
        </div>
    </form>
    <app-user-table
        [usersMore]="onAddUsers"
    >
    </app-user-table>
    <div class="footer">
            <img src="./assets/headerfooter.jpg"  class="footerImage" />
    </div>
</div>
