<mat-chip-list *ngFor="let itemUsers of users; let idx = index">
    <mat-chip
        *ngFor="let item of matChipArray"
        color={{item.color}}
        selected = {{item.selected}}
        class={{item.class}}
        (click)="addBackToForm2Page(itemUsers.firstName, itemUsers.lastName, itemUsers.ages, itemUsers.email, itemUsers.password);
        setIndex(idx)"
    >  
        {{setTextFromUsers2Page(item.id, idx)}}
    </mat-chip> 
</mat-chip-list>
<mat-chip-list *ngFor="let itemUsers of usersMore; let idx = index" >
    <mat-chip
    *ngFor="let item of matChip3PageArray"
    color={{item.color}}
    selected = {{item.selected}}
    class={{item.class}}
    (click)="addBackToForm3dPage(itemUsers.male, itemUsers.children, itemUsers.job);
    setIndex(idx)"
>  
    {{setTextFromUsers3Page(item.id, idx)}}
</mat-chip> 
</mat-chip-list>
