<mat-chip-list *ngFor="let item of users; let idx = index" >
    <mat-chip color="primary" selected class="userAbout" (click)="addBackToForm(item.FirstName, item.LastName, item.Ages, item.Email, item.Password);setIndex(idx)">
        User {{ idx + 1 }}
    </mat-chip>
    <mat-chip color="warn" selected class="userAbout"  (click)="addBackToForm(item.FirstName, item.LastName, item.Ages, item.Email, item.Password);setIndex(idx)">
        {{item.FirstName}} 
    </mat-chip>
    <mat-chip color="warn" selected class="userAbout"  (click)="addBackToForm(item.FirstName, item.LastName, item.Ages, item.Email, item.Password);setIndex(idx)">
        {{item.LastName}} 
    </mat-chip>
    <mat-chip color="accent" selected class="userAbout" (click)="addBackToForm(item.FirstName, item.LastName, item.Ages, item.Email, item.Password);setIndex(idx)">
        {{ item.Ages }} 
    </mat-chip>
    <mat-chip class="userAbout purple" (click)="addBackToForm(item.FirstName, item.LastName, item.Ages, item.Email, item.Password);setIndex(idx)">
        {{ item.Email }} 
    </mat-chip>
    <mat-chip class="userAbout darkGreen" (click)="addBackToForm(item.FirstName, item.LastName, item.Ages, item.Email, item.Password);setIndex(idx)">
        {{ item.Password }} 
    </mat-chip>
</mat-chip-list>
