<div [ngSwitch]="type">
    <label  [class]="classLabel" [for]="id">{{ textLabel }}: </label>
    <input  *ngSwitchCase="'text'"
        [class]="class"
        type="text" 
        [id] = "id"
        [formControl] = "control"
    >
  <input *ngSwitchCase="'password'"
        [class]="class"
        type="password" 
        [id] = "id"
        [formControl] = "control"
    > 
    <input *ngSwitchCase="'email'"
        [class]="class"
        type="email" 
        [id] = "id"
        [formControl] = "control"
    >
    <input  *ngSwitchCase="'checkbox'"
        [class]="class"
        type="checkbox"
        [id] = "id"
        [formControl] = "control"
    > 
   <div class="errorInput" *ngIf="control.touched && control.invalid">
       <div>{{ showErrorMessage() }}</div>
    </div>  
</div>
