<div >
    <label  [class]="classLabel" [for]="id">{{ textLabel }}: </label>
    <input  *ngIf="!(id === 'Password' || id === 'Email' || id === 'Job' || id === 'Children')"
        [class]="class"
        type="text" 
        [id] = "id"
        [formControl] = "control"
    >
    <input *ngIf="id === 'Password'"
        [class]="class"
        type="password" 
        [id] = "id"
        [formControl] = "control"
    >
    <input *ngIf="id === 'Email'"
        [class]="class"
        type="email" 
        [id] = "id"
        [formControl] = "control"
    >
    <input  *ngIf="(id === 'Children' || id === 'Job')"
        [class]="class"
        type="checkbox"
        [id] = "id"
        [formControl] = "control"
    >
   <div class="errorInput" *ngIf="control.touched && control.invalid">
        <div *ngIf="control.errors.cannotContainCharacters">{{ control.errors.cannotContainCharacters }}</div>
        <div *ngIf="control.errors.cannotBeEmpty">{{ control.errors.cannotBeEmpty }}</div>
        <div *ngIf="control.errors.emailFormat">{{ control.errors.emailFormat}}</div>
        <div *ngIf="control.errors.minLength">{{ control.errors.minLength }}</div>
    </div>  
</div>
