<div >
    <label  [class]="classLabel" [for]="id">{{ textLabel }}: </label>
    <input 
        [class]="class"
        [type]="id === 'Password' ? 'password': 'text' " 
        [id] = "id"
        [formControl] = "control"
    >
   <div class="errorInput" *ngIf="control.touched && control.invalid">
        <div *ngIf="control.errors.cannotContainCharacters">Ages cannot contain characters</div>
        <div *ngIf="control.errors.required">{{ textLabel }} is required</div>
        <div *ngIf="control.errors.email">Email should have email format</div>
        <div *ngIf="control.errors.minlength && control.errors.minlength.requiredLength">
            Password length should be at least {{ control.errors.minlength.requiredLength }} symbols.
            Now {{ control.errors.minlength.actualLength }}. 
        </div>
    </div>  
</div>
