<mat-chip-list *ngFor="let item of usersMore; let idx = index">
    <mat-chip color="primary" selected class="userAbout">
        User {{ idx + 1 }}
    </mat-chip>
    <mat-chip color="warn" selected class="userAbout" (click)="addBackToForm(item.Male, idx, 'Male')">
        {{item.Male}} 
    </mat-chip>
    <mat-chip color="accent" selected class="userAbout" (click)="addBackToForm(item.Children, idx, 'Children')">
        {{ item.Children === false ? 'No': 'Yes' }} 
    </mat-chip>
    <mat-chip color="accent" selected class="userAbout" (click)="addBackToForm(item.Job, idx, 'Job')">
        {{ item.Job === false ? 'No': 'Yes' }}
    </mat-chip>
</mat-chip-list>
