@import '../app.component.less';

.user-table {
    #content;

    font-family: 'Roboto';
    font-size: 20px;

    .user-header {
        #table;

        border: solid 3px @puprle;

        .titleJob {
            padding-right: 15px;
            flex-basis: 14%;
        }

    }

    .user-columns{
        #table;

        .columnMale, .columnChildren {
            flex-basis: 19%;
        }

        .columnJob {
            flex-basis: 13%;
        }
    }
}