<ul class="user-table"  *ngIf="usersMore.length > 0">
    <div class="user-header">
        <div></div>
        <div class="titleMale">Male</div>
        <div class="titleChildren">Have children</div>
        <div class="titleJob">Got a job</div>
    </div>
    <li *ngFor="let item of usersMore; let idx = index" class="user-columns">
        <div class="columnUser">User {{ idx + 1 }}</div>
        <div class="columnMale">{{ item.Male }}</div>
        <div class="columnChildren">{{ item.Children === false ? 'No': 'Yes' }}</div>
        <div class="columnJob">{{ item.Job === false ? 'No': 'Yes' }}</div>
    </li>
</ul>